<h1>Listing termo_usos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @termo_usos.each do |termo_uso| %>
  <tr>
    <td><%= termo_uso.title %></td>
    <td><%= termo_uso.content %></td>
    <td><%= link_to 'Show', termo_uso %></td>
    <td><%= link_to 'Edit', edit_termo_uso_path(termo_uso) %></td>
    <td><%= link_to 'Destroy', termo_uso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Termo uso', new_termo_uso_path %>
