<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @termo_uso.title %>
</p>

<p>
  <b>Content:</b>
  <%= @termo_uso.content %>
</p>


<%= link_to 'Edit', edit_termo_uso_path(@termo_uso) %> |
<%= link_to 'Back', termo_usos_path %>
